#!/bin/{{ .shell }}
set -eu

echo
echo
echo "::: Running install_packages.sh script"

{{ includeTemplate "source_env.tmpl" . }}

{{ if and (eq .chezmoi.os "linux") (eq .profile "server") -}}
echo "Installing apt packages..."
sudo apt update
sudo apt install -y {{ .packages.apt | join " " }}
echo
{{ end -}}

echo "Installing Homebrew packages..."

{{ if eq .profile "personal" "work-laptop" -}}
# GUI Brewfile hash: {{ include "brewfiles/gui" | sha256sum }}
brew bundle --file={{ joinPath .chezmoi.sourceDir "brewfiles/gui" | quote }}
{{ else if eq .profile "server" -}}
# Headless Brewfile hash: {{ include "brewfiles/headless" | sha256sum }}
brew bundle --file={{ joinPath .chezmoi.sourceDir "brewfiles/headless" | quote }}
{{ end -}}
