#!/bin/{{ .shell }}
set -eu

echo
echo
echo "::: Running run_onchange_install_packages.sh script"

{{ if and (eq .chezmoi.os "linux") (eq .profile "server") -}}
echo "Installing apt packages..."
sudo apt update
sudo apt install -y {{ .packages.apt | join " " }}
echo
{{ end -}}

echo "Installing Homebrew packages..."

{{ if eq .profile "personal" "work-laptop" -}}
# GUI Brewfile hash: {{ include "brewfiles/gui" | sha256sum }}
brew bundle --file={{ joinPath .chezmoi.sourceDir "brewfiles/gui" | quote }}
{{ else if eq .profile "server" -}}
# Headless Brewfile hash: {{ include "brewfiles/headless" | sha256sum }}
brew bundle --file={{ joinPath .chezmoi.sourceDir "brewfiles/headless" | quote }}
{{ end -}}

echo
echo
echo "--------------------------------"
echo
echo

echo "Installing Node.js..."
{{/* The work-devbox profile will have Node installed by default, it just doesn't enjoy version switching (yet). */}}
{{ if not (eq .profile "work-devbox") -}}
fnm install --lts --use --corepack-enabled
{{ end -}}

corepack enable pnpm

node -v
pnpm -v
