#!/bin/sh
set -eu

echo
echo
echo "::: Running run_onchange_install_packages.sh script"
echo "Installing packages..."

{{ if eq .profile "personal" "work-laptop" -}}
# GUI Brewfile hash: {{ include "brewfiles/gui" | sha256sum }}
brew bundle --file={{ joinPath .chezmoi.sourceDir "brewfiles/gui" | quote }}
{{ else if eq .profile "server" -}}
# Headless Brewfile hash: {{ include "brewfiles/headless" | sha256sum }}
brew bundle --file={{ joinPath .chezmoi.sourceDir "brewfiles/headless" | quote }}
{{ end -}}

echo
echo
echo "--------------------------------"
echo
echo

echo "Installing Node.js..."
fnm install --lts --use --corepack-enabled
corepack enable pnpm

node -v
pnpm -v
