{{- $name := promptStringOnce . "name" "What is your name" -}}
{{- $email := promptStringOnce . "email" "What is your email address" -}}
{{- $profileChoices := list "personal" "work-laptop" "work-devbox" -}}
{{- $profile := promptChoiceOnce . "profile" "What's this machine's profile" $profileChoices -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  profile = {{ $profile | quote }}
