{{- $name := env "DOTFILES_NAME" -}}
{{- if not $name -}}{{- $name = promptString "What is your name" -}}{{- end -}}
{{- $email := env "DOTFILES_EMAIL" -}}
{{- if not $email -}}{{- $email = promptString "What is your email address" -}}{{- end -}}
{{- $profileChoices := list "personal" "server" "work-laptop" "work-devbox" -}}
{{- $profile := env "DOTFILES_PROFILE" -}}
{{- if not $profile -}}{{- $profile = promptChoice "What's this machine's profile" $profileChoices -}}{{- end -}}

[edit]
{{- if eq .chezmoi.os "darwin" }}
  command = "code"
  args = ["--wait"]
{{- else }}
  command = "nano"
{{- end }}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  profile = {{ $profile | quote }}
  shell = "{{ if eq .chezmoi.os "darwin" }}zsh{{ else }}bash{{ end }}"
  envfile = "{{ if eq .chezmoi.os "darwin" }}.zshenv{{ else }}.bashrc{{ end }}"

[hooks.read-source-state.pre]
  command = "{{ .chezmoi.sourceDir }}/.chezmoihooks/hook_read-source-state.pre.sh"
