{{- $name := env "DOTFILES_NAME" | default (promptString "What is your name") -}}
{{- $email := env "DOTFILES_EMAIL" | default (promptString "What is your email address") -}}
{{- $profileChoices := list "personal" "work-laptop" "work-devbox" -}}
{{- $profile := env "DOTFILES_PROFILE" | default (promptChoice "What's this machine's profile" $profileChoices) -}}

[edit]
  command = "code"
  args = ["--wait"]

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  profile = {{ $profile | quote }}
