[user]
  name = {{ .name }}
  email = {{ .email }}

[core]
  editor = {{ if eq .chezmoi.os "darwin" }}open -W -n{{ else }}nano{{ end }}

[log]
  abbrevCommit = true
  decorate = true

[format]
  pretty = oneline

[alias]
  l = log --graph --color
  fp = fetch --prune
  cp = cherry-pick

[diff "plist"]
  textconv = plutil -convert xml1 -o -

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[protocol]
  version = 2

[pull]
  ff = only

[init]
  defaultBranch = main

[push]
  autoSetupRemote = true

{{ if eq .profile "work-laptop" -}}
{{/* Canvaboy is a desktop tool, so not meaningful in a devbox that's accessed via SSH */}}
[canvaboy]
  githubToken = {{ onepasswordRead "op://dotfiles/GitHub Token - Canvaboy/token" "my" }}
{{- end }}

# ----- CHEZMOI END ----- #
